trunk/05.程序开发/Scada/Client/Scada.Client.SL/Service References/SystemManagerService/SystemManagerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListStudents">
        <s:complexType />
      </s:element>
      <s:element name="ListStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListStudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDDSoapIn">
    <wsdl:part name="parameters" element="tns:AddDD" />
  </wsdl:message>
  <wsdl:message name="AddDDSoapOut">
    <wsdl:part name="parameters" element="tns:AddDDResponse" />
  </wsdl:message>
  <wsdl:message name="ListStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:ListStudents" />
  </wsdl:message>
  <wsdl:message name="ListStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:ListStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="SystemManagerServiceSoap">
    <wsdl:operation name="AddDD">
      <wsdl:input message="tns:AddDDSoapIn" />
      <wsdl:output message="tns:AddDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListStudents">
      <wsdl:input message="tns:ListStudentsSoapIn" />
      <wsdl:output message="tns:ListStudentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemManagerServiceSoap" type="tns:SystemManagerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDD">
      <soap:operation soapAction="http://tempuri.org/AddDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudents">
      <soap:operation soapAction="http://tempuri.org/ListStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemManagerServiceSoap12" type="tns:SystemManagerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDD">
      <soap12:operation soapAction="http://tempuri.org/AddDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudents">
      <soap12:operation soapAction="http://tempuri.org/ListStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemManagerService">
    <wsdl:port name="SystemManagerServiceSoap" binding="tns:SystemManagerServiceSoap">
      <soap:address location="http://localhost:2823/WebServices/SystemManagerService.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemManagerServiceSoap12" binding="tns:SystemManagerServiceSoap12">
      <soap12:address location="http://localhost:2823/WebServices/SystemManagerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>