03.需求分析/SCADA_Demo/SCADA.UI/SampleData/ListSampleDataSource/ListSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ListSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ListSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListSampleDataSource" type="tns:ListSampleDataSource" />
  <xs:complexType name="ListSampleDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="dwp" type="xs:string" />
    <xs:attribute name="je" type="xs:boolean" />
    <xs:attribute name="quyue" type="xs:string" />
    <xs:attribute name="yuefen" type="xs:string" />
    <xs:attribute name="qushi" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>