05.程序开发/Scada/Client/Scada.Client.SL/Service References/ScadaDeviceService/ScadaDeviceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="DeviceType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDeviceInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDeviceInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDeviceInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deviceGuid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteDeviceInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewDeviceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewDeviceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewDeviceInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMaintenancePeople">
        <s:complexType />
      </s:element>
      <s:element name="ListMaintenancePeopleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMaintenancePeopleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListDeviceTreeView">
        <s:complexType />
      </s:element>
      <s:element name="ListDeviceTreeViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListDeviceTreeViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDeviceAlarmInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetListDeviceAlarmInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDeviceAlarmInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeviceAlarmInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlarmId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealPeople" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeviceAlarmInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDeviceAlarmInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListUserEventInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetListUserEventInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListUserEventInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEventKeyInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EventKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEventKeyInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserEventKeyInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserEventInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserEventInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserEventInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListStepInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetListStepInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListStepInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EventID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEventStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessingStepNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventDealDetail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessingStepNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessingStepNoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="GetListDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="AddDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ViewDeviceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ViewDeviceInfo" />
  </wsdl:message>
  <wsdl:message name="ViewDeviceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ViewDeviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ListMaintenancePeopleSoapIn">
    <wsdl:part name="parameters" element="tns:ListMaintenancePeople" />
  </wsdl:message>
  <wsdl:message name="ListMaintenancePeopleSoapOut">
    <wsdl:part name="parameters" element="tns:ListMaintenancePeopleResponse" />
  </wsdl:message>
  <wsdl:message name="ListDeviceTreeViewSoapIn">
    <wsdl:part name="parameters" element="tns:ListDeviceTreeView" />
  </wsdl:message>
  <wsdl:message name="ListDeviceTreeViewSoapOut">
    <wsdl:part name="parameters" element="tns:ListDeviceTreeViewResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDeviceAlarmInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDeviceAlarmInfo" />
  </wsdl:message>
  <wsdl:message name="GetListDeviceAlarmInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDeviceAlarmInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceAlarmInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDeviceAlarmInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceAlarmInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDeviceAlarmInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetListUserEventInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetListUserEventInfo" />
  </wsdl:message>
  <wsdl:message name="GetListUserEventInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetListUserEventInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserEventKeyInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserEventKeyInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserEventKeyInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserEventKeyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEventInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserEventInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEventInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserEventInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetListStepInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetListStepInfo" />
  </wsdl:message>
  <wsdl:message name="GetListStepInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetListStepInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEventState" />
  </wsdl:message>
  <wsdl:message name="UpdateEventStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventStateResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessingStepNoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessingStepNo" />
  </wsdl:message>
  <wsdl:message name="ProcessingStepNoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessingStepNoResponse" />
  </wsdl:message>
  <wsdl:portType name="ScadaDeviceServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceInfo">
      <wsdl:input message="tns:GetListDeviceInfoSoapIn" />
      <wsdl:output message="tns:GetListDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDeviceInfo">
      <wsdl:input message="tns:AddDeviceInfoSoapIn" />
      <wsdl:output message="tns:AddDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceInfo">
      <wsdl:input message="tns:UpdateDeviceInfoSoapIn" />
      <wsdl:output message="tns:UpdateDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDeviceInfo">
      <wsdl:input message="tns:DeleteDeviceInfoSoapIn" />
      <wsdl:output message="tns:DeleteDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewDeviceInfo">
      <wsdl:input message="tns:ViewDeviceInfoSoapIn" />
      <wsdl:output message="tns:ViewDeviceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMaintenancePeople">
      <wsdl:input message="tns:ListMaintenancePeopleSoapIn" />
      <wsdl:output message="tns:ListMaintenancePeopleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListDeviceTreeView">
      <wsdl:input message="tns:ListDeviceTreeViewSoapIn" />
      <wsdl:output message="tns:ListDeviceTreeViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceAlarmInfo">
      <wsdl:input message="tns:GetListDeviceAlarmInfoSoapIn" />
      <wsdl:output message="tns:GetListDeviceAlarmInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceAlarmInfo">
      <wsdl:input message="tns:UpdateDeviceAlarmInfoSoapIn" />
      <wsdl:output message="tns:UpdateDeviceAlarmInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListUserEventInfo">
      <wsdl:input message="tns:GetListUserEventInfoSoapIn" />
      <wsdl:output message="tns:GetListUserEventInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEventKeyInfo">
      <wsdl:input message="tns:GetUserEventKeyInfoSoapIn" />
      <wsdl:output message="tns:GetUserEventKeyInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEventInfo">
      <wsdl:input message="tns:UpdateUserEventInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserEventInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListStepInfo">
      <wsdl:input message="tns:GetListStepInfoSoapIn" />
      <wsdl:output message="tns:GetListStepInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventState">
      <wsdl:input message="tns:UpdateEventStateSoapIn" />
      <wsdl:output message="tns:UpdateEventStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessingStepNo">
      <wsdl:input message="tns:ProcessingStepNoSoapIn" />
      <wsdl:output message="tns:ProcessingStepNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScadaDeviceServiceSoap" type="tns:ScadaDeviceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/GetListDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/AddDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/DeleteDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDeviceInfo">
      <soap:operation soapAction="http://tempuri.org/ViewDeviceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMaintenancePeople">
      <soap:operation soapAction="http://tempuri.org/ListMaintenancePeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDeviceTreeView">
      <soap:operation soapAction="http://tempuri.org/ListDeviceTreeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceAlarmInfo">
      <soap:operation soapAction="http://tempuri.org/GetListDeviceAlarmInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceAlarmInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateDeviceAlarmInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUserEventInfo">
      <soap:operation soapAction="http://tempuri.org/GetListUserEventInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEventKeyInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserEventKeyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEventInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateUserEventInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStepInfo">
      <soap:operation soapAction="http://tempuri.org/GetListStepInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventState">
      <soap:operation soapAction="http://tempuri.org/UpdateEventState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessingStepNo">
      <soap:operation soapAction="http://tempuri.org/ProcessingStepNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScadaDeviceServiceSoap12" type="tns:ScadaDeviceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceInfo">
      <soap12:operation soapAction="http://tempuri.org/GetListDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeviceInfo">
      <soap12:operation soapAction="http://tempuri.org/AddDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeviceInfo">
      <soap12:operation soapAction="http://tempuri.org/DeleteDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDeviceInfo">
      <soap12:operation soapAction="http://tempuri.org/ViewDeviceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMaintenancePeople">
      <soap12:operation soapAction="http://tempuri.org/ListMaintenancePeople" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDeviceTreeView">
      <soap12:operation soapAction="http://tempuri.org/ListDeviceTreeView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDeviceAlarmInfo">
      <soap12:operation soapAction="http://tempuri.org/GetListDeviceAlarmInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceAlarmInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateDeviceAlarmInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUserEventInfo">
      <soap12:operation soapAction="http://tempuri.org/GetListUserEventInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEventKeyInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserEventKeyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEventInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserEventInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStepInfo">
      <soap12:operation soapAction="http://tempuri.org/GetListStepInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventState">
      <soap12:operation soapAction="http://tempuri.org/UpdateEventState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessingStepNo">
      <soap12:operation soapAction="http://tempuri.org/ProcessingStepNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScadaDeviceService">
    <wsdl:port name="ScadaDeviceServiceSoap" binding="tns:ScadaDeviceServiceSoap">
      <soap:address location="http://localhost:2823/WebServices/ScadaDeviceService.asmx" />
    </wsdl:port>
    <wsdl:port name="ScadaDeviceServiceSoap12" binding="tns:ScadaDeviceServiceSoap12">
      <soap12:address location="http://localhost:2823/WebServices/ScadaDeviceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>