05.程序开发/Scada/Client/Scada.Client.SL/Service References/SystemManagerService/SystemManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginResultType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginResultTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLoginResultTypeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeather">
        <s:complexType />
      </s:element>
      <s:element name="GetWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemParameterManage">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemParameterManageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemParameterManageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemGlobalParameter">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemGlobalParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemGlobalParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSystemParameterManage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemParameterManage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSystemParameterManageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSystemParameterManageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSystemGlobalParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemGlobalParameter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSystemGlobalParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSystemGlobalParameterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDDSoapIn">
    <wsdl:part name="parameters" element="tns:AddDD" />
  </wsdl:message>
  <wsdl:message name="AddDDSoapOut">
    <wsdl:part name="parameters" element="tns:AddDDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginResultTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginResultType" />
  </wsdl:message>
  <wsdl:message name="GetLoginResultTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginResultTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterManageSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemParameterManage" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterManageSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemParameterManageResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemGlobalParameterSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemGlobalParameter" />
  </wsdl:message>
  <wsdl:message name="GetSystemGlobalParameterSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemGlobalParameterResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSystemParameterManageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSystemParameterManage" />
  </wsdl:message>
  <wsdl:message name="UpdateSystemParameterManageSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSystemParameterManageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSystemGlobalParameterSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSystemGlobalParameter" />
  </wsdl:message>
  <wsdl:message name="UpdateSystemGlobalParameterSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSystemGlobalParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="SystemManagerServiceSoap">
    <wsdl:operation name="AddDD">
      <wsdl:input message="tns:AddDDSoapIn" />
      <wsdl:output message="tns:AddDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginResultType">
      <wsdl:input message="tns:GetLoginResultTypeSoapIn" />
      <wsdl:output message="tns:GetLoginResultTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <wsdl:input message="tns:GetWeatherSoapIn" />
      <wsdl:output message="tns:GetWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameterManage">
      <wsdl:input message="tns:GetSystemParameterManageSoapIn" />
      <wsdl:output message="tns:GetSystemParameterManageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemGlobalParameter">
      <wsdl:input message="tns:GetSystemGlobalParameterSoapIn" />
      <wsdl:output message="tns:GetSystemGlobalParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemParameterManage">
      <wsdl:input message="tns:UpdateSystemParameterManageSoapIn" />
      <wsdl:output message="tns:UpdateSystemParameterManageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemGlobalParameter">
      <wsdl:input message="tns:UpdateSystemGlobalParameterSoapIn" />
      <wsdl:output message="tns:UpdateSystemGlobalParameterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemManagerServiceSoap" type="tns:SystemManagerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDD">
      <soap:operation soapAction="http://tempuri.org/AddDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginResultType">
      <soap:operation soapAction="http://tempuri.org/GetLoginResultType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameterManage">
      <soap:operation soapAction="http://tempuri.org/GetSystemParameterManage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemGlobalParameter">
      <soap:operation soapAction="http://tempuri.org/GetSystemGlobalParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemParameterManage">
      <soap:operation soapAction="http://tempuri.org/UpdateSystemParameterManage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemGlobalParameter">
      <soap:operation soapAction="http://tempuri.org/UpdateSystemGlobalParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemManagerServiceSoap12" type="tns:SystemManagerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDD">
      <soap12:operation soapAction="http://tempuri.org/AddDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginResultType">
      <soap12:operation soapAction="http://tempuri.org/GetLoginResultType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <soap12:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameterManage">
      <soap12:operation soapAction="http://tempuri.org/GetSystemParameterManage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemGlobalParameter">
      <soap12:operation soapAction="http://tempuri.org/GetSystemGlobalParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemParameterManage">
      <soap12:operation soapAction="http://tempuri.org/UpdateSystemParameterManage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemGlobalParameter">
      <soap12:operation soapAction="http://tempuri.org/UpdateSystemGlobalParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemManagerService">
    <wsdl:port name="SystemManagerServiceSoap" binding="tns:SystemManagerServiceSoap">
      <soap:address location="http://localhost:2823/WebServices/SystemManagerService.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemManagerServiceSoap12" binding="tns:SystemManagerServiceSoap12">
      <soap12:address location="http://localhost:2823/WebServices/SystemManagerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>