03.需求分析/SCADA_Demo/SCADA.UI/SampleData/DataGridViewSampleDataSource/DataGridViewSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.DataGridViewSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.DataGridViewSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataGridViewSampleDataSource" type="tns:DataGridViewSampleDataSource" />
  <xs:complexType name="DataGridViewSampleDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Number" type="xs:string" />
    <xs:attribute name="InstallPlace" type="xs:string" />
    <xs:attribute name="Pressure" type="xs:string" />
    <xs:attribute name="Device" type="xs:string" />
    <xs:attribute name="Update" type="xs:string" />
    <xs:attribute name="Signal" type="tns:Basic-Image" />
    <xs:attribute name="ManageArea" type="xs:string" />
    <xs:attribute name="Temperature" type="xs:double" />
    <xs:attribute name="Percent" type="xs:string" />
    <xs:attribute blend:FormatParameters="Images" name="State" type="tns:Basic-Image" />
    <xs:attribute name="Operation" type="xs:string" />
    <xs:attribute name="Area" type="xs:string" />
    <xs:attribute name="Distance" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>