trunk/03.需求分析/SCADA_Demo/SCADA.UI/SampleData/TimeTableSampleDataSource/TimeTableSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TimeTableSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TimeTableSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimeTableSampleDataSource" type="tns:TimeTableSampleDataSource" />
  <xs:complexType name="TimeTableSampleDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="TimeTable" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Hour" type="xs:string" />
    <xs:attribute name="Minute" type="xs:string" />
  </xs:complexType>
</xs:schema>