trunk/05.程序开发/Scada/Client/Scada.Client.SL/Service References/DeviceRealTimeService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceRealTimeService_InitData_InputMessage">
    <wsdl:part name="parameters" element="InitData" />
  </wsdl:message>
  <wsdl:message name="IDeviceRealTimeService_GetRealTimeData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="GetRealTimeData" />
  </wsdl:message>
  <wsdl:message name="IDeviceRealTimeService_GetAlarmData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="GetAlarmData" />
  </wsdl:message>
  <wsdl:message name="IDeviceRealTimeService_GetCallData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="GetCallData" />
  </wsdl:message>
  <wsdl:portType name="IDeviceRealTimeService">
    <wsdl:operation name="InitData">
      <wsdl:input wsaw:Action="urn:IDeviceRealTimeService/InitData" message="IDeviceRealTimeService_InitData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealTimeData">
      <wsdl:output wsaw:Action="urn:IDeviceRealTimeService/GetRealTimeData" message="IDeviceRealTimeService_GetRealTimeData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmData">
      <wsdl:output wsaw:Action="urn:IDeviceRealTimeService/GetAlarmData" message="IDeviceRealTimeService_GetAlarmData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallData">
      <wsdl:output wsaw:Action="urn:IDeviceRealTimeService/GetCallData" message="IDeviceRealTimeService_GetCallData_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>