trunk/03.需求分析/SCADA_Demo/SCADA.UI/SampleData/Top10DataSource/Top10DataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Top10DataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Top10DataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Top10DataSource" type="tns:Top10DataSource" />
  <xs:complexType name="Top10DataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Depart" type="xs:string" />
    <xs:attribute name="Num" type="xs:string" />
  </xs:complexType>
</xs:schema>